/Carrito.class
/Descuento.class
/DescuentoCantidad.class
/DescuentoCategoria.class
/DescuentoVolumen.class
/EstadoPedido.class
/LineaCarrito.class
/LineaPedido.class
/Pago.class
/Pedido.class
/Regalo.class
