/CheckPointException.class
/EmpleadoDadoDeBajaException.class
/FicheroFormatoInvalidoException.class
/PagoFallidoException.class
/ProductoBloqueadoException.class
/SistemaNoConfiguradoException.class
/TipoProductoDesconocidoException.class
