/CheckPointException.class
/EmpleadoDadoDeBajaException.class
/FicheroFormatoInvalidoException.class
/PagoFallidoException.class
/ProductoBloqueadoException.class
/SistemaNoConfiguradoException.class
/TipoProductoDesconocidoException.class
/AnioInvalidoException.class
/OfertaNoDisponibleException.class
/PesosInvalidosException.class
/ProductoNoTasadoException.class
/RangoFechasInvalidoException.class
/RecomendadorNoActivoException.class
/ProductoInvalidoException.class
/ReseñaDuplicadaException.class
/ProductoYaEnCategoriaException.class
/ProductoYaEnPackException.class
/StockInsuficienteParaPackException.class
/ValoracionInvalidaException.class
