/Producto.class
/ProductoVenta.class
/ProductoSegundaMano.class
/Comic.class
/JuegoMesa.class
/Figura.class
/Reseña.class
/EstadoProducto.class
/Valoracion.class
/Pack.class
/EstadoValoracion.class
/Producto2Mano.class
